body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}
.main-content-section {
    background-image: url(../images/Background_Intro.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    width: 100vw;
    height: 100vh;
}